div {
	background-color: #F2F3F5;
}
#list-items {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 20px;
}
#list-items table {
	background-color: white;
}
#list-items table img {
	width: 100px;
	height: 50px;
}
#list-items table th, #list-items table td {
	padding: 10px 15px;
}
#icon1 {
	color: red;
}
#icon2 {
	color: blue;
}
#icon3 {
	color: green;
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 20px;
	border-radius: 50%;
	background-color: white;
}