* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	outline: none;
	border: none;
	background-color: #F2F3F5;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
/** fonts**/
@font-face {
	font-family: OpenSans;
}
#login {
	height: 100%;
}
#login-main {
	padding: 80px 0px;	
	background-color: transparent;
}
#login-main > div {	
	background-color: transparent;
}
#login-image {
	width: 500px;
	margin-top: 60px;
	margin-bottom: 20px;
}
#login-form {
	background-color: white;
	border-radius: 30px;
	color: #1ABC9C;
	box-shadow: 10px 10px 10px rgb(22, 160, 134);
}
#login-form div , p , h3 {
	background-color: white;	
}
#login-form > div {
	padding: 0;
	margin: 0px 20px 20px 20px;
}
#login-form  h3 {
	font-size: 30px;
	padding-top: 20px;
	font-weight: 600;
}
#login-form input {
	height: 40px;
	border-radius: 20px;
	border: none;
	background-color: rgba(22, 160, 134, 0.5);
}
#login-form #button-login {
	height: 57px;
	width: auto;
	padding: 10px 70px;
	border:none;
	background-color: rgb(22, 160, 134);
	border-radius: 50px;
	font-size: 25px;
	color: white;
	text-align: center;
}
#login-form #button-login:hover {
	outline-color: white;
	background-color:rgb(17, 130, 108);
}
#login-form .or {
	position: relative;
	margin: 0px;
	margin-bottom: 10px;
}
#login-form .or span {
	position: relative;
	display: inline-block;
	padding: 0px 10px;
	background-color: white;
	z-index: 1;
}
#login-form .or:after {
	content: " ";
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: #1ABC9C;
}
#login-form .or + div > div:first-child {
	padding: 0px 30px;
	text-align: right;
}
#login-form .or + div > div:last-child {
	padding: 0px 30px;
	text-align: left;
}
#login-form div:last-child > p {
	text-align: center;
}
#login-form > div:last-child, #login-form > div:nth-child(8) {
	margin-bottom: 0px;
}
.btn-icon {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: none;
	color: white;
}
#icon1 {
	background-color: rgb(60, 87, 147);
}
#icon1:hover {
	background-color: rgb(34, 60, 117);
}
#icon2 {
	background-color: rgb(216, 75, 65);	
}
#icon2:hover {
	background-color: rgb(207, 60, 50);;	
}
i {
	background-color: inherit;
}
